defusedxml
executing
importlib_resources
ipykernel
IPython
ipython_genutils
jinja2
jsonschema
jupyter_client
jupyter-core
jupyterlab_pygments
m2r
mistune<2
nbclient
nbconvert
nbformat
nest_asyncio
notebook
packaging
prometheus_client
pyrsistent
pyzmq
send2trash
stack_data
tornado
traitlets
zipp
zmq
